.App {
  text-align: center;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

h1 {
  font-size: 24px;

  @media (max-width: 840px) {
    font-size: 20px;
  }
}

.generate-data-button {
  margin-top: 70px;
  background-color: transparent;
  border: lightgreen 1px solid;
  color: lightgreen;
  padding: 10px 20px;
  margin-left: 30%;
  cursor: pointer;
}